header {
  display: flex;
  height: 50px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}



header svg {
  height: 100%;
  align-self: center;
  width: 120%;
}

.svg-container {
  width: 20%;
  align-self: center;
  align-content: center;
  align-items: center;
  justify-content: center;

}

header h1 {
  align-self: center;
  margin-left: -5%;
  font-size: 20px;
}
header div {
  width: 13%;
}

.side-bar {
  margin-left: 10%;
  width: 55%;
  height: 98%;
  align-self: flex-end;
  display: flex;
  background-color: ghostwhite;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
}

.tabButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
}

.tabButton h3{
  margin-top: auto;
}

.bottom{
  height: 2px;
  background-color: orangered;
  align-self: flex-end;
  margin-top: auto;
  width: 100%;
}